{
  "openapi": "3.0.1",
  "info": {
    "title": "SpringOnly Orders API (backendx)",
    "description": "API to retrieve orders from backendx.springonly.com",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://backend.springonly.com"
    }
  ],
  "paths": {
    "/orders/{orderId}": {
      "get": {
        "summary": "Get order by ID",
        "operationId": "getOrderById",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "ID of the order to fetch",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orderId": {
                      "type": "integer",
                      "example": 101
                    },
                    "businessId": {
                      "type": "string",
                      "example": "IDNEGOCIO"
                    },
                    "businessName": {
                      "type": "string",
                      "example": "NOMBRE DEL NEGOCIO"
                    },
                    "credit": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "number",
                          "format": "float",
                          "example": 55600.3
                        },
                        "interestRate": {
                          "type": "number",
                          "format": "float",
                          "example": 10.5
                        },
                        "dueDate": {
                          "type": "string",
                          "format": "date",
                          "example": "2022-03-10"
                        }
                      }
                    },
                    "author": {
                      "type": "string",
                      "example": "NOMBRE DEL AUTOR"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    }
  }
}
