name: WF01 - Create Azure Infrastructure
on:
  workflow_dispatch:

jobs:
  create-resource-group:
    name: Create Resource Group
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}
      
      - name: Ensure resource group
        uses: ./.github/actions/resource-drop-if-exists
        with:
          showCmd: >
            az group show --name ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          deleteCmd: >
            az group create --name ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
            --location ${{ vars.INFRA_AZURE_LOCATION }}
            --subscription ${{ vars.INFRA_AZURE_SUBSCRIPTION_ID }}

  create-sql:
    name: Create SQL Server and Database
    runs-on: ubuntu-latest
    needs: create-resource-group
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}
      
      - name: Ensure SQL Server
        shell: bash
        run: |
          if az sql server show \
            --name ${{ vars.INFRA_AZURE_SQLSERVER_NAME }} \
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} &>/dev/null; then
            echo "⚠️ SQL Server exists"
          else
            az sql server create \
              --name ${{ vars.INFRA_AZURE_SQLSERVER_NAME }} \
              --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
              --location ${{ vars.INFRA_AZURE_LOCATION }} \
              --admin-user ${{ vars.INFRA_AZURE_SQLSERVER_ADMIN_LOGINNAME }} \
              --admin-password ${{ secrets.INFRA_AZURE_SQLSERVER_ADMIN_LOGINPASSWORD }}
          fi
      - name: Ensure SQL DB
        shell: bash
        run: |
          if az sql db show \
            --name ${{ vars.INFRA_AZURE_SQLSERVER_DB_NAME }} \
            --server ${{ vars.INFRA_AZURE_SQLSERVER_NAME }} \
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} &>/dev/null; then
            echo "⚠️ SQL DB exists"
          else
            az sql db create \
              --name ${{ vars.INFRA_AZURE_SQLSERVER_DB_NAME }} \
              --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
              --server ${{ vars.INFRA_AZURE_SQLSERVER_NAME }} \
              --edition GeneralPurpose \
              --compute-model Serverless \
              --family Gen5 \
              --capacity 2 \
              --min-capacity 0.5 \
              --max-size 5GB \
              --zone-redundant false
          fi

  create-acr:
    name: Create Azure Container Registry
    runs-on: ubuntu-latest
    needs: create-resource-group
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Ensure ACR
        shell: bash
        run: |
          if az acr show \
            --name ${{ vars.INFRA_AZURE_ACR_NAME }} \
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} &>/dev/null; then
            echo "⚠️ ACR exists"
          else
            az acr create \
              --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
              --location ${{ vars.INFRA_AZURE_LOCATION }} \
              --name ${{ vars.INFRA_AZURE_ACR_NAME }} \
              --sku Basic \
              --admin-enabled true
          fi

  create-loganalytics-and-env:
    name: Create Log Analytics Workspace and Container App Environment
    runs-on: ubuntu-latest
    needs: create-resource-group
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}
      
      - name: Ensure Log Analytics
        shell: bash
        run: |
          if az monitor log-analytics workspace show \
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
            --workspace-name ${{ vars.INFRA_AZURE_LOGANALYTICSWORKSPACE_NAME }} &>/dev/null; then
            echo "⚠️ LA exists"
          else
            az monitor log-analytics workspace create \
              --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
              --location ${{ vars.INFRA_AZURE_LOCATION }} \
              --workspace-name ${{ vars.INFRA_AZURE_LOGANALYTICSWORKSPACE_NAME }}
          fi
      
      - name: Ensure Container App Environment
        shell: bash
        run: |
          if az containerapp env show \
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
            --name ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }} &>/dev/null; then
            echo "⚠️ Env exists"
          else
            az containerapp env create \
              --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
              --name ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }} \
              --location ${{ vars.INFRA_AZURE_LOCATION }} \
              --logs-destination log-analytics \
              --logs-workspace-id "$(az monitor log-analytics workspace show \
                --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
                --workspace-name ${{ vars.INFRA_AZURE_LOGANALYTICSWORKSPACE_NAME }} \
                --query customerId -o tsv)" \
              --logs-workspace-key "$(az monitor log-analytics workspace get-shared-keys \
                --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
                --workspace-name ${{ vars.INFRA_AZURE_LOGANALYTICSWORKSPACE_NAME }} \
                --query primarySharedKey -o tsv)"
          fi
      
      - name: Wait for Container App Environment to be Succeeded
        uses: ./.github/actions/containerapp-env-wait-state
        with:
          resourceGroup: ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          environmentName: ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
          desiredState: Succeeded

  create-backend-containerapp:
    name: Create Backend Container App
    runs-on: ubuntu-latest
    needs: create-loganalytics-and-env
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Create Backend Container App
        uses: ./.github/actions/containerapp-create-dummy
        with:
          resourceGroup: ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          environmentName: ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
          containerAppName: ${{ vars.INFRA_AZURE_CONTAINERAPP_BACKEND_NAME }}
          targetPort: ${{ vars.INFRA_AZURE_CONTAINERAPP_BACKEND_PORT }}
          acrName: ${{ vars.INFRA_AZURE_ACR_NAME }}

      - name: Wait for Backend Container App to be Succeeded
        uses: ./.github/actions/containerapp-custom-domain-setup
        with:
          resourceGroup: ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          environmentName: ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
          containerAppName: ${{ vars.INFRA_AZURE_CONTAINERAPP_BACKEND_NAME }}
          domainName: ${{ vars.INFRA_BACKEND_DOMAIN_NAME }}
          awsHostedZoneId: ${{ vars.INFRA_AWS_DNS_HOSTED_ZONE_ID }}
          awsRegion: ${{ vars.INFRA_AWS_DNS_REGION }}
          awsAccessKeyId: ${{ vars.INFRA_AWS_DNS_USER_ACCESS_KEY_ID }}
          awsSecretAccessKey: ${{ secrets.INFRA_AWS_DNS_USER_SECRET_ACCESS_KEY }}

  create-frontend-containerapp:
    name: Create Frontend Container App
    runs-on: ubuntu-latest
    needs: create-loganalytics-and-env
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Create Frontend Container App
        uses: ./.github/actions/containerapp-create-dummy
        with:
          resourceGroup: ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          environmentName: ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
          containerAppName: ${{ vars.INFRA_AZURE_CONTAINERAPP_FRONTEND_NAME }}
          targetPort: ${{ vars.INFRA_AZURE_CONTAINERAPP_FRONTEND_PORT }}
          acrName: ${{ vars.INFRA_AZURE_ACR_NAME }}

      - name: Wait for Frontend Container App to be Succeeded
        uses: ./.github/actions/containerapp-custom-domain-setup
        with:
          resourceGroup: ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          environmentName: ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
          containerAppName: ${{ vars.INFRA_AZURE_CONTAINERAPP_FRONTEND_NAME }}
          domainName: ${{ vars.INFRA_FRONTEND_DOMAIN_NAME }}
          awsHostedZoneId: ${{ vars.INFRA_AWS_DNS_HOSTED_ZONE_ID }}
          awsRegion: ${{ vars.INFRA_AWS_DNS_REGION }}
          awsAccessKeyId: ${{ vars.INFRA_AWS_DNS_USER_ACCESS_KEY_ID }}
          awsSecretAccessKey: ${{ secrets.INFRA_AWS_DNS_USER_SECRET_ACCESS_KEY }}

  create-mcpserver-containerapp:
    name: Create MCP Server Container App
    runs-on: ubuntu-latest
    needs: create-loganalytics-and-env
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Create MCP Server Container App
        uses: ./.github/actions/containerapp-create-dummy
        with:
          resourceGroup: ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          environmentName: ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
          containerAppName: ${{ vars.INFRA_AZURE_CONTAINERAPP_MCPSERVER_NAME }}
          targetPort: ${{ vars.INFRA_AZURE_CONTAINERAPP_MCPSERVER_PORT }}
          acrName: ${{ vars.INFRA_AZURE_ACR_NAME }}

      - name: Wait for MCP Server Container App to be Succeeded
        uses: ./.github/actions/containerapp-custom-domain-setup
        with:
          resourceGroup: ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          environmentName: ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
          containerAppName: ${{ vars.INFRA_AZURE_CONTAINERAPP_MCPSERVER_NAME }}
          domainName: ${{ vars.INFRA_MCPSERVER_DOMAIN_NAME }}
          awsHostedZoneId: ${{ vars.INFRA_AWS_DNS_HOSTED_ZONE_ID }}
          awsRegion: ${{ vars.INFRA_AWS_DNS_REGION }}
          awsAccessKeyId: ${{ vars.INFRA_AWS_DNS_USER_ACCESS_KEY_ID }}
          awsSecretAccessKey: ${{ secrets.INFRA_AWS_DNS_USER_SECRET_ACCESS_KEY }}

  create-adtokenserver-containerapp:
    name: Create AD Token Server Container App
    runs-on: ubuntu-latest
    needs: create-loganalytics-and-env
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Create AD Token Server Container App
        uses: ./.github/actions/containerapp-create-dummy
        with:
          resourceGroup: ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          environmentName: ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
          containerAppName: ${{ vars.INFRA_AZURE_CONTAINERAPP_ADTOKENSERVER_NAME }}
          targetPort: ${{ vars.INFRA_AZURE_CONTAINERAPP_ADTOKENSERVER_PORT }}
          acrName: ${{ vars.INFRA_AZURE_ACR_NAME }}

      - name: Wait for AD Token Server Container App to be Succeeded
        uses: ./.github/actions/containerapp-custom-domain-setup
        with:
          resourceGroup: ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          environmentName: ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
          containerAppName: ${{ vars.INFRA_AZURE_CONTAINERAPP_ADTOKENSERVER_NAME }}
          domainName: ${{ vars.INFRA_ADTOKENSERVER_DOMAIN_NAME }}
          awsHostedZoneId: ${{ vars.INFRA_AWS_DNS_HOSTED_ZONE_ID }}
          awsRegion: ${{ vars.INFRA_AWS_DNS_REGION }}
          awsAccessKeyId: ${{ vars.INFRA_AWS_DNS_USER_ACCESS_KEY_ID }}
          awsSecretAccessKey: ${{ secrets.INFRA_AWS_DNS_USER_SECRET_ACCESS_KEY }}

  create-firewall-rules-sql:
    name: Create SQL Firewall Rules
    runs-on: ubuntu-latest
    needs: [create-sql, create-backend-containerapp]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Add Backend Container IPs to SQL Firewall
        uses: ./.github/actions/sql-firewall-allow-containerapp-ips
        with:
          resourceGroup: ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          sqlServerName: ${{ vars.INFRA_AZURE_SQLSERVER_NAME }}
          containerAppName: ${{ vars.INFRA_AZURE_CONTAINERAPP_BACKEND_NAME }}
          rulePrefix: Rule_BACKEND_
