name: WF99 - Clean up Azure Infrastructure
on:
  workflow_dispatch:

jobs:
  drop-mcpserver:
    name: Drop MCP Server Container App
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Drop MCP Server Container App if exists
        uses: ./.github/actions/resource-drop-if-exists
        with:
          showCmd: >
            az containerapp show --name ${{ vars.INFRA_AZURE_CONTAINERAPP_MCPSERVER_NAME }}
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          deleteCmd: >
            az containerapp delete --name ${{ vars.INFRA_AZURE_CONTAINERAPP_MCPSERVER_NAME }}
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} --yes

  drop-adtokenserver:
    name: Drop AD Token Server Container App
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Drop AD Token Server Container App if exists
        uses: ./.github/actions/resource-drop-if-exists
        with:
          showCmd: >
            az containerapp show --name ${{ vars.INFRA_AZURE_CONTAINERAPP_ADTOKENSERVER_NAME }}
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          deleteCmd: >
            az containerapp delete --name ${{ vars.INFRA_AZURE_CONTAINERAPP_ADTOKENSERVER_NAME }}
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} --yes

  drop-frontend:
    name: Drop Frontend Container App
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Drop Frontend Container App if exists
        uses: ./.github/actions/resource-drop-if-exists
        with:
          showCmd: >
            az containerapp show --name ${{ vars.INFRA_AZURE_CONTAINERAPP_FRONTEND_NAME }}
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          deleteCmd: >
            az containerapp delete --name ${{ vars.INFRA_AZURE_CONTAINERAPP_FRONTEND_NAME }}
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} --yes

  drop-backend:
    name: Drop Backend Container App
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Drop Backend Container App if exists
        uses: ./.github/actions/resource-drop-if-exists
        with:
          showCmd: >
            az containerapp show --name ${{ vars.INFRA_AZURE_CONTAINERAPP_BACKEND_NAME }}
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          deleteCmd: >
            az containerapp delete --name ${{ vars.INFRA_AZURE_CONTAINERAPP_BACKEND_NAME }}
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} --yes

  drop-env-and-la:
    name: Drop Container App Environment and Log Analytics Workspace
    runs-on: ubuntu-latest
    needs: [drop-mcpserver, drop-frontend, drop-backend, drop-adtokenserver]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Drop Container App Environment if exists
        uses: ./.github/actions/resource-drop-if-exists
        with:
          showCmd: >
            az containerapp env show --name ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          deleteCmd: >
            az containerapp env delete --name ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} --yes

      - name: Wait for Container App Environment to be deleted
        uses: ./.github/actions/containerapp-env-wait-state
        with:
          resourceGroup: ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          environmentName: ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
          desiredState: NotFound
          sleepSeconds: '15'
          totalWaitSeconds: '900'

      - name: Drop Log Analytics Workspace if exists
        uses: ./.github/actions/resource-drop-if-exists
        with:
          showCmd: >
            az monitor log-analytics workspace show
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
            --workspace-name ${{ vars.INFRA_AZURE_LOGANALYTICSWORKSPACE_NAME }}
          deleteCmd: >
            az monitor log-analytics workspace delete
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
            --workspace-name ${{ vars.INFRA_AZURE_LOGANALYTICSWORKSPACE_NAME }}
            --force yes --yes

  drop-acr:
    name: Drop Azure Container Registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Drop ACR if exists
        uses: ./.github/actions/resource-drop-if-exists
        with:
          showCmd: >
            az acr show --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
            --name ${{ vars.INFRA_AZURE_ACR_NAME }}
          deleteCmd: >
            az acr delete --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
            --name ${{ vars.INFRA_AZURE_ACR_NAME }} --yes

  drop-sql:
    name: Drop Azure SQL Database and Server
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Drop SQL Database if exists
        uses: ./.github/actions/resource-drop-if-exists
        with:
          showCmd: >
            az sql db show --name ${{ vars.INFRA_AZURE_SQLSERVER_DB_NAME }}
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
            --server ${{ vars.INFRA_AZURE_SQLSERVER_NAME }}
          deleteCmd: >
            az sql db delete --name ${{ vars.INFRA_AZURE_SQLSERVER_DB_NAME }}
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
            --server ${{ vars.INFRA_AZURE_SQLSERVER_NAME }} --yes
      
      - name: Drop SQL Server if exists
        uses: ./.github/actions/resource-drop-if-exists
        with:
          showCmd: >
            az sql server show --name ${{ vars.INFRA_AZURE_SQLSERVER_NAME }}
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          deleteCmd: >
            az sql server delete --name ${{ vars.INFRA_AZURE_SQLSERVER_NAME }}
            --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} --yes

  drop-resource-group:
    name: 
    if: false
    runs-on: ubuntu-latest
    needs: [drop-env-and-la, drop-acr, drop-sql]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Drop Resource Group if exists
        uses: ./.github/actions/resource-drop-if-exists
        with:
          showCmd: >
            az group show --name ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          deleteCmd: >
            az group delete --name ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} --yes