name: WF-02 Create Infrastructure
on:
  workflow_dispatch:

jobs:
  job-01-a-create-acr:
    name: J1A Create ACR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Create Azure Container Registry
        uses: ./.github/actions/resource-create-if-not-exists
        with:
          resourceName: ${{ vars.INFRA_AZURE_ACR_NAME }}

          checkCmd: |
            az acr show \
              --name            ${{ vars.INFRA_AZURE_ACR_NAME }} \
              --resource-group  ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}

          createCmd: |
            az acr create \
              --name            ${{ vars.INFRA_AZURE_ACR_NAME }} \
              --resource-group  ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
              --sku             Basic \
              --admin-enabled   true \
              --location        ${{ vars.INFRA_AZURE_LOCATION }}

  job-01-b-create-akv:
    name: J1B Create AKV
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Create Azure Key Vault
        uses: ./.github/actions/resource-create-if-not-exists
        with:
          resourceName: ${{ vars.INFRA_AZURE_AKV_NAME }}

          checkCmd: |
            az keyvault show \
              --name            ${{ vars.INFRA_AZURE_AKV_NAME }} \
              --resource-group  ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}

          createCmd: |
            az keyvault create \
              --resource-group  ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
              --location        ${{ vars.INFRA_AZURE_LOCATION }} \
              --name            ${{ vars.INFRA_AZURE_AKV_NAME }} \
              --sku             standard

  job-01-c-create-sqlserver:
    name: J1C Create SQLSRV
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Create SQL Server
        uses: ./.github/actions/resource-create-if-not-exists
        with:
          resourceName: ${{ vars.INFRA_AZURE_SQLSERVER_NAME }}

          checkCmd: |
            az sql server show \
              --name            ${{ vars.INFRA_AZURE_SQLSERVER_NAME }} \
              --resource-group  ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}

          createCmd: |
            az sql server create \
              --name            ${{ vars.INFRA_AZURE_SQLSERVER_NAME }} \
              --resource-group  ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
              --admin-password  ${{ secrets.INFRA_AZURE_SQLSERVER_ADMIN_LOGINPASSWORD }} \
              --admin-user      ${{ vars.INFRA_AZURE_SQLSERVER_ADMIN_LOGINNAME }} \
              --location        ${{ vars.INFRA_AZURE_LOCATION }}

  job-01-d-create-loganalytics:
    name: J1D Create LAWS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Create Log Analytics Workspace
        uses: ./.github/actions/resource-create-if-not-exists
        with:
          resourceName: ${{ vars.INFRA_AZURE_LOGANALYTICSWORKSPACE_NAME }}

          checkCmd: |
            az monitor log-analytics workspace show \
              --workspace-name ${{ vars.INFRA_AZURE_LOGANALYTICSWORKSPACE_NAME }} \
              --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}

          createCmd: |
            az monitor log-analytics workspace create \
              --workspace-name  ${{ vars.INFRA_AZURE_LOGANALYTICSWORKSPACE_NAME }} \
              --resource-group  ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
              --location        ${{ vars.INFRA_AZURE_LOCATION }}

  job-02-a-create-sqldatabase:
    name: J2A Create SQLDB
    runs-on: ubuntu-latest
    needs: job-01-c-create-sqlserver
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Create SQL DB
        uses: ./.github/actions/resource-create-if-not-exists
        with:
          resourceName: ${{ vars.INFRA_AZURE_SQLSERVER_DB_NAME }}

          checkCmd: |
            az sql db show \
              --name            ${{ vars.INFRA_AZURE_SQLSERVER_DB_NAME }} \
              --resource-group  ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
              --server          ${{ vars.INFRA_AZURE_SQLSERVER_NAME }}

          createCmd: |
            az sql db create \
              --name              ${{ vars.INFRA_AZURE_SQLSERVER_DB_NAME }} \
              --resource-group    ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
              --server            ${{ vars.INFRA_AZURE_SQLSERVER_NAME }} \
              --auto-pause-delay  15 \
              --capacity          2 \
              --compute-model     Serverless \
              --edition           GeneralPurpose \
              --family            Gen5 \
              --max-size          5GB \
              --min-capacity      0.5 \
              --zone-redundant    false

  job-02-b-create-containerapp-environment:
    name: J2B Create CAPPENV
    runs-on: ubuntu-latest
    needs: job-01-d-create-loganalytics
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Create Container App Environment
        uses: ./.github/actions/resource-create-if-not-exists
        with:
          resourceName: ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}

          checkCmd: |
            az containerapp env show \
              --name            ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }} \
              --resource-group  ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}

          createCmd: |
            az containerapp env create \
              --name                ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }} \
              --resource-group      ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
              --location            ${{ vars.INFRA_AZURE_LOCATION }} \
              --logs-destination    log-analytics \
              --logs-workspace-id   "$(az monitor log-analytics workspace show \
                                        --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
                                        --workspace-name ${{ vars.INFRA_AZURE_LOGANALYTICSWORKSPACE_NAME }} \
                                        --query customerId -o tsv)" \
              --logs-workspace-key  "$(az monitor log-analytics workspace get-shared-keys \
                                        --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
                                        --workspace-name ${{ vars.INFRA_AZURE_LOGANALYTICSWORKSPACE_NAME }} \
                                        --query primarySharedKey -o tsv)"

      - name: Wait for Container App Environment to be Succeeded
        uses: ./.github/actions/containerapp-env-wait-state
        with:
          resourceGroup:    ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}

          environmentName:  ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}

          desiredState:     Succeeded

  job-03-a-create-backend-containerapp:
    name: J3A Create Backend CAPP
    runs-on: ubuntu-latest
    needs:  [
              job-01-a-create-acr,
              job-02-b-create-containerapp-environment
            ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Create Backend Container App
        uses: ./.github/actions/containerapp-create-dummy
        with:
          resourceGroup:    ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          environmentName:  ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
          containerAppName: ${{ vars.INFRA_AZURE_CONTAINERAPP_BACKEND_NAME }}
          targetPort:       ${{ vars.INFRA_AZURE_CONTAINERAPP_BACKEND_PORT }}
          acrName:          ${{ vars.INFRA_AZURE_ACR_NAME }}

      - name: Wait for Backend Container App to be Succeeded
        uses: ./.github/actions/containerapp-custom-domain-setup
        with:
          resourceGroup:      ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          environmentName:    ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
          containerAppName:   ${{ vars.INFRA_AZURE_CONTAINERAPP_BACKEND_NAME }}
          domainName:         ${{ vars.INFRA_BACKEND_DOMAIN_NAME }}
          awsHostedZoneId:    ${{ vars.INFRA_AWS_DNS_HOSTED_ZONE_ID }}
          awsRegion:          ${{ vars.INFRA_AWS_DNS_REGION }}
          awsAccessKeyId:     ${{ vars.INFRA_AWS_DNS_USER_ACCESS_KEY_ID }}
          awsSecretAccessKey: ${{ secrets.INFRA_AWS_DNS_USER_SECRET_ACCESS_KEY }}

  job-03-b-create-adtoken-containerapp:
    name: J3B Create AD Token CAPP
    runs-on: ubuntu-latest
    needs:  [
              job-01-a-create-acr,
              job-02-b-create-containerapp-environment
            ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Create AD Token Container App
        uses: ./.github/actions/containerapp-create-dummy
        with:
          resourceGroup:    ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          environmentName:  ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
          containerAppName: ${{ vars.INFRA_AZURE_CONTAINERAPP_ADTOKENSERVER_NAME }}
          targetPort:       ${{ vars.INFRA_AZURE_CONTAINERAPP_ADTOKENSERVER_PORT }}
          acrName:          ${{ vars.INFRA_AZURE_ACR_NAME }}

      - name: Wait for AD Token Container App to be Succeeded
        uses: ./.github/actions/containerapp-custom-domain-setup
        with:
          resourceGroup:      ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          environmentName:    ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
          containerAppName:   ${{ vars.INFRA_AZURE_CONTAINERAPP_ADTOKENSERVER_NAME }}
          domainName:         ${{ vars.INFRA_ADTOKENSERVER_DOMAIN_NAME }}
          awsHostedZoneId:    ${{ vars.INFRA_AWS_DNS_HOSTED_ZONE_ID }}
          awsRegion:          ${{ vars.INFRA_AWS_DNS_REGION }}
          awsAccessKeyId:     ${{ vars.INFRA_AWS_DNS_USER_ACCESS_KEY_ID }}
          awsSecretAccessKey: ${{ secrets.INFRA_AWS_DNS_USER_SECRET_ACCESS_KEY }}

  job-03-c-create-frontend-containerapp:
    name: J3C Create Frontend CAPP
    runs-on: ubuntu-latest
    needs:  [
              job-01-a-create-acr,
              job-02-b-create-containerapp-environment
            ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Create Frontend Container App
        uses: ./.github/actions/containerapp-create-dummy
        with:
          resourceGroup:    ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          environmentName:  ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
          containerAppName: ${{ vars.INFRA_AZURE_CONTAINERAPP_FRONTEND_NAME }}
          targetPort:       ${{ vars.INFRA_AZURE_CONTAINERAPP_FRONTEND_PORT }}
          acrName:          ${{ vars.INFRA_AZURE_ACR_NAME }}

      - name: Wait for Frontend Container App to be Succeeded
        uses: ./.github/actions/containerapp-custom-domain-setup
        with:
          resourceGroup:      ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          environmentName:    ${{ vars.INFRA_AZURE_CONTAINERAPPENVIRONMENT_NAME }}
          containerAppName:   ${{ vars.INFRA_AZURE_CONTAINERAPP_FRONTEND_NAME }}
          domainName:         ${{ vars.INFRA_FRONTEND_DOMAIN_NAME }}
          awsHostedZoneId:    ${{ vars.INFRA_AWS_DNS_HOSTED_ZONE_ID }}
          awsRegion:          ${{ vars.INFRA_AWS_DNS_REGION }}
          awsAccessKeyId:     ${{ vars.INFRA_AWS_DNS_USER_ACCESS_KEY_ID }}
          awsSecretAccessKey: ${{ secrets.INFRA_AWS_DNS_USER_SECRET_ACCESS_KEY }}

  job-04-a-add-sqlserver-firewall-rules:
    name: J4A Add SQLSRV FW Rules
    runs-on: ubuntu-latest
    needs:  [
              job-01-c-create-sqlserver,
              job-03-a-create-backend-containerapp
            ]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Add Backend Container App IPs to SQL Server Firewall
        uses: ./.github/actions/sqlserver-firewall-add-backend-capp-ips
        with:
          resourceGroup:    ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          sqlServerName:    ${{ vars.INFRA_AZURE_SQLSERVER_NAME }}
          containerAppName: ${{ vars.INFRA_AZURE_CONTAINERAPP_BACKEND_NAME }}
          rulePrefix:       Rule_BACKEND_

  job-04-b-deploy-adtoken-containerapp:
    name: J4B Deploy AD Token CAPP
    runs-on: ubuntu-latest
    needs: job-03-b-create-adtoken-containerapp
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Build and Push Docker Image to ACR
        uses: ./.github/actions/acr-build-push
        with:
          acrName:      ${{ vars.INFRA_AZURE_ACR_NAME }}
          imageName:    ${{ vars.INFRA_ADTOKENSERVER_IMAGE_NAME }}
          imageVersion: ${GITHUB_SHA}
          workingDir:   ./ad-token-server
          dockerfile:   docker/Dockerfile

      - name: Update Azure Container App with New Image
        uses: ./.github/actions/containerapp-update-image
        with:
          resourceGroup:    ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          containerAppName: ${{ vars.INFRA_AZURE_CONTAINERAPP_ADTOKENSERVER_NAME }}
          acrName:          ${{ vars.INFRA_AZURE_ACR_NAME }}
          imageName:        ${{ vars.INFRA_ADTOKENSERVER_IMAGE_NAME }}
          imageVersion:     ${GITHUB_SHA}

  job-05-a-deploy-db:
    name: J5A Deploy SQLDB
    runs-on: ubuntu-latest
    needs: job-04-a-add-sqlserver-firewall-rules
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Allow GitHub runner IP in SQL Server firewall
        uses: ./.github/actions/sqlserver-firewall-add-github-runner-ip
        with:
          resourceGroup:  ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          sqlServerName:  ${{ vars.INFRA_AZURE_SQLSERVER_NAME }}
          ruleName:       TempGitHubRunner

      - name: Install sqlcmd on runner
        uses: ./.github/actions/sqlcmd-install

      - name: Execute schema.sql against Azure SQL
        uses: ./.github/actions/sqlcmd-exec
        with:
          serverFqdn:   ${{ vars.INFRA_AZURE_SQLSERVER_NAME }}.database.windows.net
          databaseName: ${{ vars.INFRA_AZURE_SQLSERVER_DB_NAME }}
          username:     ${{ vars.INFRA_AZURE_SQLSERVER_ADMIN_LOGINNAME }}
          scriptPath:   ./database/schema.sql
        env:
          SQL_PASSWORD: ${{ secrets.INFRA_AZURE_SQLSERVER_ADMIN_LOGINPASSWORD }}


  job-06-a-deploy-backend-containerapp:
    name: J6A Deploy Backend CAPP
    runs-on: ubuntu-latest
    needs:  [
              job-02-a-create-sqldatabase,
              job-04-a-add-sqlserver-firewall-rules,
              job-05-a-deploy-db
            ]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Compile Backend Maven Project
        uses: ./.github/actions/backend-compile

      - name: Create AKV Secret for DB password
        uses: ./.github/actions/akv-create-secret
        with:
          akvName:     ${{ vars.INFRA_AZURE_AKV_NAME }}
          secretName:  datasourcepassword
          secretValue: ${{ secrets.INFRA_AZURE_SQLSERVER_ADMIN_LOGINPASSWORD }}

      - name: Create CAPP Secret for DB password from AKV Secret
        uses: ./.github/actions/containerapp-create-secret-from-akv
        with:
          resourceGroup:          ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          akvName:                ${{ vars.INFRA_AZURE_AKV_NAME }}
          akvSecretName:          datasourcepassword
          containerAppName:       ${{ vars.INFRA_AZURE_CONTAINERAPP_BACKEND_NAME }}
          containerAppSecretName: datasourcepassword

      - name: Compile, Build and Push Docker Image to ACR
        uses: ./.github/actions/acr-build-push
        with:
          acrName:      ${{ vars.INFRA_AZURE_ACR_NAME }}
          imageName:    ${{ vars.INFRA_BACKEND_IMAGE_NAME }}
          imageVersion: ${GITHUB_SHA}
          workingDir:   ./backend
          dockerfile:   src/main/docker/Dockerfile

      - name: Update Azure Container App with New Image
        uses: ./.github/actions/containerapp-update-image
        with:
          resourceGroup:    ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          containerAppName: ${{ vars.INFRA_AZURE_CONTAINERAPP_BACKEND_NAME }}
          acrName:          ${{ vars.INFRA_AZURE_ACR_NAME }}
          imageName:        ${{ vars.INFRA_BACKEND_IMAGE_NAME }}
          imageVersion:     ${GITHUB_SHA}
          envVars: |
            DATASOURCEUSERNAME=${{ vars.INFRA_AZURE_SQLSERVER_ADMIN_LOGINNAME }} \
            DATASOURCEPASSWORD=secretref:datasourcepassword

  job-07-a-deploy-frontend-container-app:
    name: J7A Deploy Frontend CAPP
    runs-on: ubuntu-latest
    needs:  [
              job-03-c-create-frontend-containerapp,
              job-04-b-deploy-adtoken-containerapp,
              job-06-a-deploy-backend-containerapp
          ]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Build and Push Docker Image to ACR
        uses: ./.github/actions/acr-build-push
        with:
          acrName:      ${{ vars.INFRA_AZURE_ACR_NAME }}
          imageName:    ${{ vars.INFRA_FRONTEND_IMAGE_NAME }}
          imageVersion: ${GITHUB_SHA}
          workingDir:   ./frontend
          dockerfile:   Dockerfile

      - name: Update Azure Container App with New Image
        uses: ./.github/actions/containerapp-update-image
        with:
          resourceGroup:    ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          containerAppName: ${{ vars.INFRA_AZURE_CONTAINERAPP_FRONTEND_NAME }}
          acrName:          ${{ vars.INFRA_AZURE_ACR_NAME }}
          imageName:        ${{ vars.INFRA_FRONTEND_IMAGE_NAME }}
          imageVersion:     ${GITHUB_SHA}