name: WF-01 Create Resource Group
on:
  workflow_dispatch:

jobs:
  job-01-create-resource-group:
    name: JOB-01 Create RG
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}
      
      - name: Create Resource Group
        uses: ./.github/actions/resource-create-if-not-exists
        with:
          resourceName:       ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          
          checkCmd: |
            az group show \
              --name  ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          
          createCmd: |
            az group create \
              --location  ${{ vars.INFRA_AZURE_LOCATION }} \
              --name      ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}