name: WF-02 Create Infrastructure
on:
  workflow_dispatch:

jobs:
  job-01-a-create-acr:
    name: JOB-01-A Create ACR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Create Azure Container Registry
        uses: ./.github/actions/resource-create-if-not-exists
        with:
          resourceName: ${{ vars.INFRA_AZURE_ACR_NAME }}
          checkCmd:   az acr show \
                        --name ${{ vars.INFRA_AZURE_ACR_NAME }} \
                        --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          createCmd: >
            az acr create \
              --name            ${{ vars.INFRA_AZURE_ACR_NAME }} \
              --resource-group  ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
              --sku             Basic \
              --admin-enabled   true \
              --location        ${{ vars.INFRA_AZURE_LOCATION }}

  job-01-b-create-akv:
    name: JOB-01-B Create AKV
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Create Azure Key Vault
        uses: ./.github/actions/resource-create-if-not-exists
        with:
          resourceName:         ${{ vars.INFRA_AZURE_AKV_NAME }}
          checkCmd: az keyvault show --name ${{ vars.INFRA_AZURE_AKV_NAME }} --resource-group ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }}
          createCmd: >
            az keyvault create \
              --resource-group  ${{ vars.INFRA_AZURE_RESOURCEGROUP_NAME }} \
              --location        ${{ vars.INFRA_AZURE_LOCATION }} \
              --name            ${{ vars.INFRA_AZURE_AKV_NAME }} \
              --sku             standard
