name: WF-97 Insecure
on:
  workflow_dispatch:

jobs:
  job-01-insecure:
    name: J1 Insecure
    runs-on: ubuntu-latest
    steps:

      - name: Print secret value
        shell: bash
        run: |

          CLIENT_ID=$(jq -r .clientId <<< '${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}')
          echo -----------------------------------------------------------------
          echo "Client ID is: $CLIENT_ID"
          echo -----------------------------------------------------------------
          echo $CLIENT_ID | base64
          echo -----------------------------------------------------------------
          echo '${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}' | jq -r .clientId
          echo -----------------------------------------------------------------
