name: WF-97 Insecure
on:
  workflow_dispatch:

jobs:
  job-01-insecure:
    name: J1 Insecure
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}

      - name: Print secret value
        shell: bash
        env:
            MY_SECRET_1: ${{ secrets.INFRA_AZURE_ADTOKENSERVER_CLIENT_SECRET }}
            MY_SECRET_2: ${{ secrets.INFRA_AZURE_SERVICE_PRINCIPAL_INFO }}
        run: |
            echo "::add-mask::"   # desactiva masking si no pasas valor
            echo "--------------------------------------------------------------"
            echo "VALUE=$MY_SECRET_1"
            echo "--------------------------------------------------------------"
            echo "VALUE=$MY_SECRET_2"
            echo "--------------------------------------------------------------"

